/* Font */
@import url("https://fonts.googleapis.com/css?family=Source Sans Pro");

/* Var */
:root {
  /* Size */
  --headerhgt: 3rem;
  --containerwdt: 1000px;

  /* Color */
  --baccolor: #ffffff;
  --forecolor: #928d8d;
  --titlecolor: #7f7888;
  --thumbcolor: #3a3a3a73;
  --navbardark: #373737;
  --themedark: #272424;
  --shadow-top: 0px -4px 20px rgba(0, 0, 0, 0.2);
  --shadow-bot: 0px 2.5px 20px rgba(0, 0, 0, 0.13);

  /* Font typography */
  --font: "Source Sans Pro", sans-serif;
  --medium-size: 0.87rem;
  --tiny-size: 0.69rem;
  --logo-size: 1rem;
  --icon-size: 1.3rem;
  --beeg-size: 2.5rem;
  --suppa-beeg-size: 3.5rem;
  --opacity: 0.6;

  /* Z index */
  --z-nav: 100;
}

/* Base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: calc(var(--headerhgt) + 0.23rem) 0 4rem 0;
  font-family: var(--font);
  font-size: var(--medium-size);
  background-color: var(--baccolor);
  color: var(--forecolor);
  transition: 0.4s;
}

h1 {
  font-size: var(--suppa-beeg-size);
  font-weight: 700;
  color: var(--titlecolor);
}

h2 {
  font-size: var(--beeg-size);
  font-weight: 550;
  color: var(--titlecolor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--forecolor);
  font-weight: 500;
}

a:hover {
  opacity: var(--opacity);
}

.icon_link:hover {
  opacity: var(--opacity);
  cursor: pointer;
}

.section_container {
  padding: 4.5rem 0 2rem;
}

.section_container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.section_container h1:after {
  content: "";
  transform: rotate(90deg);
  left: 50%;
  margin-top: 2rem;
  padding: 3rem 2px;
  position: absolute;
  border-radius: 10px;
  background-color: var(--forecolor);
}

.title h1,
.subtitle_lpg {
  text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--baccolor);
}

::-webkit-scrollbar-thumb {
  background: var(--thumbcolor);
  border-radius: 1rem;
}

/* Layout */
.container {
  max-width: var(--containerwdt);
  margin-left: 2rem;
  margin-right: 2rem;
  overflow-x: hidden;
}

/* Nav */
.nav {
  height: var(--headerhgt);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: var(--logo-size);
  font-weight: 600;
}

.nav_icon,
.icon_link {
  font-size: var(--icon-size);
}

.icon_link {
  margin-left: 1rem;
}

.theme {
  height: 3rem;
  width: 3rem;
  display: flex;
  position: absolute;
  position: fixed;
  right: 1rem;
  color: var(--baccolor);
  bottom: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 50%;
  border: 5px solid transparent;
  background-color: #7f7888ce;
}

/* mobile screen */
@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--baccolor);
    box-shadow: var(--shadow-top);
    width: 100%;
    height: 4rem;
    display: grid;
    align-content: center;
    border-radius: 1.4rem 1.4rem 0 0;
    transition: 0.4s;
  }

  .nav_menu_dark {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--navbardark);
    box-shadow: var(--shadow-top);
    width: 100%;
    height: 4rem;
    display: grid;
    align-content: center;
    border-radius: 1.4rem 1.4rem 0 0;
    transition: 0.4s;
  }

  .theme {
    height: 2rem;
    width: 3rem;
    display: flex;
    position: absolute;
    position: fixed;
    right: 1rem;
    color: var(--baccolor);
    top: .50rem;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 5px solid transparent;
    background-color: #7f7888;
  }

  .navsos {
    margin-right: 3rem;
  }

}

.nav_list,
.nav_section {
  display: flex;
}

.nav_section {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-weight: 400;
}

.nav_list {
  justify-content: space-around;
}

.nav_name {
  font-size: var(--tiny-size);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--baccolor);
  z-index: var(--z-nav);
  transition: 0.4s;
}

/* Landing page */
.title {
  height: 80vh;
  color: var(--titlecolor);
  margin-bottom: calc(var(--headerhgt) + 1.5rem);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: left;
}

.margin_min {
  margin-top: -1.35rem;
}

.subtitle_lpg {
  margin-top: -0.5rem;
  font-size: var(--medium-size);
  font-weight: 400;
}

/* Project */
.project {
  margin-bottom: calc(var(--headerhgt) + 1.5rem);
  display: grid;
  grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4";
  justify-content: space-between;
}

/*Project ilust*/
.project_ilust1 {
  margin-top: 5rem;
  width: 380px;
  height: 180px;
  background: url(../images/project/prakiraan_cuaca.png);
  background-size: cover;
  background-position: center;
}

.project_ilust2 {
  margin-top: 5rem;
  width: 380px;
  height: 180px;
  background: url(../images/project/uangkas.png);
  background-size: cover;
  background-position: center;
}

.project_ilust3 {
  margin-top: 5rem;
  width: 380px;
  height: 180px;
  background: url(../images/project/konversi_suhu.png);
  background-size: cover;
  background-position: center;
}

.project_ilust4 {
  margin-top: 5rem;
  width: 380px;
  height: 180px;
  background: url(../images/project/informasi_gempa.PNG);
  background-size: cover;
  background-position: center;
}

/*Akhir project ilus*/
.pointer {
  cursor: pointer;
}

.project_desc {
  width: 75%;
}

.project_one {
  grid-area: project1;
}

.project_two {
  grid-area: project2;
}

.project_three {
  grid-area: project3;
}

.project_four {
  grid-area: project4;
}

/* About */
.about_desc {
  margin-top: 1rem;
  text-align: initial;
}

.skills_title {
  margin-top: calc(var(--headerhgt) + 2rem);
  font-weight: 700;
  font-size: var(--beeg-size);
}

.apl_logo {
  font-size: 6rem;
  margin-top: var(--headerhgt);
}

.container_logo {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

/* contact */
.ct_container {
  margin-top: var(--headerhgt);
  row-gap: 2rem;
}

.ct_ingpo {
  margin-bottom: var(--headerhgt);
}

.headerct {
  font-weight: 600;
  font-size: calc(var(--medium-size) + 0.2rem);
  margin-top: 1.5rem;
}

.contact_in {
  display: grid;
  column-gap: 1rem;
}

.inputtxt {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.8px solid var(--titlecolor);
  opacity: var(--opacity);
  margin-top: 1rem;
  resize: vertical;
  color: var(--forecolor);
  font-family: var(--font);
  border-radius: 1rem;
  background-color: transparent;
  overflow-y: hidden;
}

.inputtxt:focus {
  opacity: 1;
}

#textholder::-webkit-input-placeholder {
  color: var(--forecolor);
}

/* Footer */
footer p {
  margin-top: calc(var(--headerhgt) + 2rem);
  margin-bottom: 0.4rem;
  opacity: var(--opacity);
  text-align: center;
}

/* JavaScript */

/* Shadow */
.scroll-header {
  box-shadow: var(--shadow-bot);
}

/* Responsive gap */

/* Responsive typpography root */
@media screen and (min-width: 968px) {
  :root {
    --medium-size: 1rem;
    --logo-size: 2rem;
    --suppa-beeg-size: 4rem;
    --icon-size: 1.5rem;
  }
}

/* height */
@media screen and (min-height: 990px) {
  .title {
    margin-top: calc(var(--headerhgt) + 4rem);
    height: 40vh;
  }
}

/* Very smol device */
@media screen and (max-width: 360px) {
  :root {
    --medium-size: 0.7rem;
    --suppa-beeg-size: 2.38rem;
    --beeg-size: 1.8rem;
    --icon-size: 1.5rem;
  }

  .nav_name {
    display: none;
  }

  .none {
    display: none;
  }
}

/* Medium */
@media screen and (min-width: 576px) {
  .nav_list {
    justify-content: center;
    column-gap: 3rem;
  }

  .apl_logo {
    font-size: 8rem;
  }
}

/* Beeg */
@media screen and (min-width: 767px) {
  body {
    margin: calc(var(--headerhgt) + 1.7rem) 0 0 0;
  }

  .nav {
    height: calc(var(--headerhgt) + 1.5rem);
  }

  .nav_logo {
    display: inline-block;
  }

  .nav_icon {
    display: none;
  }

  .nav_name {
    font-size: var(--medium-size);
    font-weight: 600;
  }

  .section_container {
    padding: 7rem 0 2rem;
  }

  .ct_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Beeg af */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .project {
    grid-template-areas:
      "project1 project2"
      "project3 project4";
  }
}

.theme-dark {
  background: var(--themedark);
}

.navbar-dark {
  background: var(--navbardark);
}

.project h2 {
  width: 90%;
}

.navsos {
  width: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-around;
}

.btn_submit {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 5% 25%;
  margin-top: 16px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 5px 15px -5px #00000070;
  border: 2px solid #a1a1a1;
  font-size: 18px;
  color: #bfbfbf;
  transition: 0.20s linear;
}

.btn_submit:hover{
  background-color: var(--titlecolor);
}

.skill {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.skill span {
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 5px;
  color: var(--forecolor);
  font-weight: bold;
  background-color: #bfbfbf3e;
  transition: 0.2s;
}

.skill span:hover {
  background-color: #bfbfbfba;
  color: #373737;
}